/.3T
/.bash_history
/.cache
/.config
/.dbclient
/.dotnet
/.eclipse
/.gitconfig
/.jdks
/.junie
/.knime
/.m2
/.nuget
/.openjfx
/.p2
/.skiko
/.ssh
/.swt
/.templateengine
/.VirtualBox
/.vscode
/2CS-Group1-Lab3.zip
/2CS-Group1-Lab5-copy
/3D Objects
/AppData
/battery-report.html
/bluej
/Contacts
/CrossDevice
/CS2A_Group1_Lab3
/CS2A_Group1_Lab3-copy
/Desktop
/Documents
/Downloads
/eclipse-workspace
/Favorites
/git
/IdeaProjects
/IdeaSnapshots
/IntelGraphicsProfiles
/jcef_13620.log
/jmg
/knime-workspace
/Links
/Music
/New Folder
/New folder (2)
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{ef409c61-1231-11f0-9b2e-9b93f7f45974}.TM.blf
/NTUSER.DAT{ef409c61-1231-11f0-9b2e-9b93f7f45974}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{ef409c61-1231-11f0-9b2e-9b93f7f45974}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Saved Games
/Searches
/source
/Videos
/VirtualBox VMs
/vs code
/Cookies
/NetHood
/PrintHood
/Application Data
/Local Settings
/My Documents
/SendTo
/Start Menu
/Recent
/Templates